<table class="table">
<tbody>
  <tr>
    <!--
    <td><button class="btn btn-xs" type="button"><a href="{{ url_for('assets.nics_add') }}">新增网卡</a></button></td>
    <td><button class="btn btn-xs" type="button"><a href="{{ url_for('assets.nicroles_add') }}">新增网卡类型</a></button></td>
    -->
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{{ url_for('assets.disks') }}">磁盘</a></li>
      <li role="presentation"><a href="{{ url_for('assets.disk_roles') }}">磁盘类型</a></li>
      <li role="presentation"><a href="{{ url_for('assets.disks_add') }}">新增磁盘</a></li>
      <li role="presentation"><a href="{{ url_for('assets.disk_roles_add') }}">新增磁盘类型</a></li>
    </ul>
  </tr>
</tbody>
</table>
