<table class="table">
<tbody>
  <tr>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{{ url_for('assets.regions') }}">机房列表</a></li>
      <li role="presentation"><a href="{{ url_for('assets.racks') }}">机柜列表</a></li>
      <li role="presentation"><a href="{{ url_for('assets.racks') }}">机柜中位置列表</a></li>
      <li role="presentation"><a href="{{ url_for('assets.regions_add') }}">新增机房</a></li>
      <li role="presentation"><a href="{{ url_for('assets.racks_add') }}">新增机柜</a></li>
      <li role="presentation"><a href="{{ url_for('assets.racks_add') }}">新增机柜中位置</a></li>
    </ul>
  </tr>
</tbody>
</table>
