{% extends "bootstrap/base.html" %}

{% block title %}运维管理平台{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static', filename='custom/css/custom.css') }}" rel="stylesheet">
{% endblock head %}

{% block navbar %}
  {% include "nav_header.html" %}
  {% include "nav_sidebar.html" %}
{% endblock navbar %}


{% block content %}
  <div class="main">
    <div class="main-title">
      <ul class="nav navbar-nav navbar-left navbar-side">
        <li><a href="">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          </a></li>
      </ul>   
    </div>
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% block page_content %}{% endblock page_content %}
  </div>
{% endblock content %}


{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  <script src="{{ url_for('static', filename='custom/js/custom.js') }}"></script>
{% endblock scripts %}
